button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 2.4em;
  color: oklch(68.285% 0.12991 158.169);
  border: 0.1rem solid oklch(68.285% 0.12991 158.169);
  border-radius: 0.3rem;
  height: clamp(38px, 3vw, 40px);
  transition: all 200ms ease-in-out;

  &:hover {
    background: linear-gradient(45deg, oklch(70% 0.12991 158.169 / 0.1), oklch(65% 0.12991 158.169 / 0.1));
  }
}

.social-message {
  display: flex;
  align-items: center;
  padding: 1.3rem 0 1.3rem 0;
}

.line {
  height: 1px;
  flex: 1 1 0%;
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.password-icon {
  cursor: pointer;
  &:hover {
    color: oklch(68.285% 0.12991 158.169) !important;
  }
}

.enter-animation {
  animation: slide-fade 1s ease-in-out;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
