<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '25rem' }"
  position="top"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center">
      <h2>{{ 'DIALOGS.USERS.ADD_NEW.TITLE' | translate }}</h2>
    </div>
  </ng-template>
  <span class="login_subtitle block mb-5">{{ 'DIALOGS.USERS.ADD_NEW.INSTRUCTION' | translate }}</span>
  <form
    [formGroup]="form"
    class="my-1"
  >
    <div class="w-full flex flex-wrap justify-center items-center gap-3">
      <p-floatlabel variant="on" class="w-full">
        <p-iconfield>
          <p-inputicon class="pi pi-user" />
          <input type="text" pInputText id="on_username"  autocomplete="off" formControlName="username" [ngClass]="{'invalid-input': isErrorUsername}"/>
        </p-iconfield>
          <label for="on_username">{{ 'DIALOGS.USERS.FIELDS.USERNAME' | translate }}</label>
          @if (isErrorUsername) {
            <small class="invalid-field">
              {{ 'DIALOGS.USERS.FIELDS.REQUIRED' | translate }}
            </small>
          }
      </p-floatlabel>
      @if (isErrorUsername) {
        <div class="mb-1"></div>
      }

      <p-floatlabel variant="on" class="w-full">
        <p-iconfield>
          <p-inputicon class="pi pi-phone" />
          <input type="tel" mask="00 000 0000" placeholder="8X XXX XXXX" pInputText id="on_phoneNumber"  autocomplete="off" formControlName="phoneNumber"/>
        </p-iconfield>
          <label for="on_phoneNumber">{{ 'DIALOGS.USERS.FIELDS.PHONE' | translate }}</label>
      </p-floatlabel>
    </div>
  </form>
  <ng-template #footer>
    <div class="mt-5 w-full flex justify-between items-center">
      <button pRipple type="button"
        class="btn_cancel"
        (click)="visible = false"
      >
        {{ 'DIALOGS.USERS.ACTIONS.CANCEL' | translate }}
      </button>

      <span class="default_btn">
        <button pRipple type="submit"
          class="cursor-pointer"
          [disabled]="showLoader"
          (click)="onSubmit()"
        >
          @if (showLoader) {
            <div class="loader">
              <span class="small_loader"></span>
            </div>
          }
          @else {
            {{ 'DIALOGS.USERS.ACTIONS.CONFIRM' | translate }}
          }
        </button>
      </span>
    </div>
  </ng-template>
</p-dialog>
